<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coin0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,80},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,106},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,28},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,54},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,80},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,80},{3,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{3,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,47},{3,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{3,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,28},{5,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{5,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,52},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,47},{9,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{9,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,28},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,28},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,54},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,28},{23,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{23,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Coin0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin_loop.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f234d8cf9659464e16531ee06d662f3$</string>
            <key>textureFileName</key>
            <string>coin_loop.png</string>
        </dict>
    </dict>
</plist>
