<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DinoRun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{105,101}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,414},{101,111}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,111}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,105},{101,115}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,115}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{101,111}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,111}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,723},{101,103}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,311},{101,111}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,111}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{101,115}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,115}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,517},{101,109}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,109}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{101,101}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{101,109}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,109}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{101,115}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,115}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{101,111}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,111}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{101,103}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,208},{101,111}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,111}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,115}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,115}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{101,113}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,113}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>DinoRun0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,620},{101,105}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dino_sheet-hd.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae8aaec1c6dcdbfa68001c3d7d155d5$</string>
            <key>textureFileName</key>
            <string>dino_sheet-hd.png</string>
        </dict>
    </dict>
</plist>
