
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#footer {
	border: 1px solid #000;
}

#toolbar {
	border: 1px solid #000;
}

#alerts {
	width=100%;
	height=100%;
	border: 1px solid #333;
	overflow: scroll;
	width: 100%;
	height: 400px;
}

.alertpanel p {
	border-bottom: 3px groove #efefd1;
	padding-bottom: 4px;
	padding-left: 0;
	padding-top: 4px;
}

#minimap {
  display:inline;
  float:left;

  border: 1px solid blue;
  width: 128px;
  height: 400px;
  background-image: url('gamedata/minimap.png');
  margin-left: 18px;
}
 
 #minimap-frame 
 {
    position: absolute;
    width:126px;
    height:80px;
    border: 2px solid red;  
 }
   
#gamemap {
  width: 630px;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
   display:inline;
/*   margin-left: 15px;*/
}

#mainctr {
	position: relative;
}

#overlay {
	width: 630px;
	position: absolute;
	height: 400px;
	left: 0;
	top: 0;
}

#overlay h1 {
	font-size: 48px;
	text-align: center;
	line-height: 60px;
	font-variant: small-caps;
}

#overlay p {
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 20px;
	line-height: 20px;
}

.ovbtn {
	background-color: #43de01;
	width: 150px;
	height: 60px;
	color: #3c6834;
	text-align: center;
	font-size: 24px;
	line-height: 60px;
	text-shadow: 0 -1px 1px #f7f8f9;
	font-weight: bold;
	-moz-box-shadow: 3px 3px 6px #3d5159;
	-webkit-box-shadow: 3px 3px 6px #3d5159;
	box-shadow: 3px 3px 6px #3d5159;
	opacity: 1;
	border: 3px solid #4bf817;
	border-radius: 15px;
	margin: 30px auto auto;
}

.button {
	width: 57px;
	height: 57px;
	display: inline-block;
	border: 1px solid;
	margin: 3px;
	text-align: center;
	vertical-align: middle;
	font: 30px/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.bigbutton {
	width: 120px;
	height: 57px;
	display: inline-block;
	border: 1px solid;
	margin: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: green;
	color: #f9f9a9;
	line-height: 30px;
}


#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
