
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#minimap {
  display:inline;
  float:left;
  margin: 5px 5px;
  border: 1px solid blue;
  width: 128px;
  height: 400px;
  background-image: url('gamedata/minimap.png');
  }
 
 #minimap-frame 
 {
    position: absolute;
    width:126px;
    height:80px;
    border: 2px solid red;  
 }
   
#gamemap {
  width: 640;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
   display:inline;
   margin: 5px 5px;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
