{% extends "base.html" %}
{% block title %}LD41 Matrix{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns">

             <h1>LD41 Matrix</h1>

             <p>
                 LD41-Matrix is an experiment by Joel Davis.
                 <a href="https://ldjam.com/events/ludum-dare/41" target="_blank">Ludum Dare 41</a>
                 had a really interesting theme, "Combine two incompatible genres", and
                 that created a ton of game ideas and prototypes. I though this would
                 make an interesting visualization of what combinations were popular,
                 and provide an neat way to browse through the large volume of games.
                 Also it was an excuse to play with some web technologies that I wanted to try.
             </p>

            <p>
                The front-end was built with the <a href="https://www.dartlang.org/">Dart Language</a>
                and <a href="http://www.stagexl.org/">StageXL</a> (which is a nice choice for making
                LDJAM games if you're coming from Flash, btw). The back end used
                <a href="https://cloud.google.com/">Google Cloud</a>.
            </p>
            <p>
                Source code is available at my LD48 Repo:
                <a href="https://github.com/joeld42/ld48jovoc/tree/master/ld41-matrix">
                Jovoc's LudumDare code dump</a>.

            </p>

             <a href="{{ url_for("index") }}">Back to Matrix</a>
        </div>
     </div>
</div>
{% endblock %}