<!DOCTYPE html><html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="scaffolded-by" content="https://github.com/google/stagehand">
    <title>dartmatrix</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <script>
        var genres = [
            {% for genre in genres %}"{{ genre.genreName }}",{% endfor %}
          ];
          var genreKeys = [
          {% for genre in genres %}{{ genre.key.id() }},{% endfor %}
          ];

          var genreCounts = [
          {% for gc in grid %}{{ gc }}, {% endfor %}
          ];
    </script>

    <script defer="" src="static/main.dart.js"></script>
    
</head>

<body>

    <canvas id="stage" class="stage--fullscreen"></canvas>

    <h2 id="genre-title">Genre + Genre</h2>
    <div id="gameslist">

    </div>


    <!-- stub to load the font so StageXL can use it -->
    <div style="font-family:'Cairo',sans-serif;">&nbsp;</div>


</body></html>