{% extends "base.html" %}
{% block title %}LD41 Matrix{% endblock %}

{% block head %}
    <script>
        var genres = [
            {% for genre in genres %}"{{ genre.genreName }}",{% endfor %}
          ];

          var genreKeys = [
          {% for genre in genres %}{{ genre.key.id() }},{% endfor %}
          ];

          var genreCounts = [
          {% for gc in grid %}{{ gc }}, {% endfor %}
          ];
    </script>

    <script defer="" src="static/main.dart.js"></script>
    
{% endblock %}



{% block body %}
    <div class="container">
      <div class="row toprow">
            <div class="two columns"><p>{{ assignedCount }} of {{ entryCount }} assigned.</p></div>
            <div class="eight columns"><h1 class="maintitle">LD41 Genre Matrix</h1></div>
            <div class="two columns"><a href="/about" class="titlelink">About</a></div>
      </div>
    </div>


    <canvas id="stage" class="stage--fullscreen"></canvas>

    <div class="container gameslist">

        <div class="row">
            <div class="twelve columns">
                <h3 id="genre-title">Select a combination...</h3>
            </div>
        </div>
    </div>

    <div class="container gameslist" id="gameslist">
    </div>



    <!-- stub to load the font so StageXL can use it -->
    <div style="font-family:'Cairo',sans-serif;">&nbsp;</div>

{% endblock %}