{% extends "base.html" %}
{% block title %}LD41 Matrix{% endblock %}

{% block head %}
    <script>
        var genres = [
            {% for genre in genres %}"{{ genre.genreName }}",{% endfor %}
          ];

          var genreKeys = [
          {% for genre in genres %}{{ genre.key.id() }},{% endfor %}
          ];

          var genreCounts = [
          {% for gc in grid %}{{ gc }}, {% endfor %}
          ];
    </script>

    <script defer="" src="static/main.dart.js"></script>
    
{% endblock %}



{% block body %}
    <div class="container">
      <div class="row toprow">
            <div class="two columns">
                <a href="https://ldjam.com/events/ludum-dare/41" class="titlelink">LD41</a>
            </div>
            <div class="eight columns"><h1 class="maintitle">LD41 Genre Matrix</h1></div>
            <div class="two columns"><a href="/about" class="titlelink">About</a></div>
      </div>

        <p style="background-color:#AE2850">
                NOTE: I'm still testing/debugging this so if you are on this page please
                go ahead and tag some entries, but don't share the link widely for a few
                more days. Thanks, Joel! Also please send any bugs or feedback to joeld42@gmail.com
            </p>

    </div>


    <canvas id="stage" class="stage--fullscreen"></canvas>

    <div class="container gameslist">

        <div class="row">
            <div class="twelve columns">
                <h3 id="genre-title">Select a combination...</h3>
            </div>
        </div>
    </div>

    <div class="container gameslist" id="gameslist">
    </div>

    {% if assignedCount < entryCount %}
    <div class="container helpme">
        <div class="row">
            <div class="twelve columns">
                <h3>Help classify games!</h3>
                <p>
                    There were over 3000 entries to LD41, and no official list of
                    what genres each entry decided to mash-up.
                    <strong>You can help</strong> tag entries until and identify
                    the whole collection! Click here for more info.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="nine columns">
                <div class="meter">
                <span style="width: {{ assignPct }}%"></span>
                </div>
                <p>{{ assignedCount }} games of {{ entryCount }} ({{ assignPct }}%) assigned.</p>
            </div>
            <div class="three columns">
                <a class="button button-primary" href="{{ url_for("assignHowto") }}">Start Tagging</a>
            </div>
        </div>
    </div>
    {% endif %}


    <!-- stub to load the font so StageXL can use it -->
    <div style="font-family:'Cairo',sans-serif;">&nbsp;</div>

{% endblock %}