# Cruft fips puts here when it builds
fips-build/
fips-bullet/
fips-deploy/
fips-glfw/
fips-glm/
fips-imgui/
fips-libcurl/
fips-nuklear/
fips-remotery/
fips-soloud/
fips-turbobadger/
fips-unittestpp/
fips-vld/
fips-zlib/
fips/
gliml/
oryol-imgui/
oryol-nuklear/
oryol-samples/
oryol-sound/
oryol-tbui/
oryol/
fips-assimp/
fips-cjson/
fips-cpptoml/
fips-pystring/
fips-spirvcross/
oryol-tools/
smallworld/.fips-gen.py
smallworld/.fips-imports.cmake
yakc/
