@import url(https://fonts.googleapis.com/css?family=Cairo);

html, body {
    font-family:'Cairo',sans-serif;
    color:#F3CF70;
    background-color: #152030;
}

div.helpme {
    color: #ffffff;
    background-color: #6D2261;
    border-radius: 10px;
    padding: 10px;
}

html, body, .stage--fullscreen {

    padding: 0;
    margin: auto;
    display: block;
    width: 1000px;
    height: 800px;
}

.maintitle {
    font-family: 'Iceberg', cursive;
    text-align: center;
}
.titlelink {
    font-family:'Cairo',sans-serif;
    font-variant: small-caps;
    margin: auto;
    padding: 10px;
}

a.titlelink:link {
    color: #F3CF70;
    text-decoration: none;
}
a.titlelink:hover {
    color:#152030;
    background-color: #F3CF70;
    text-decoration: none;
    border-radius: 5px;
}

.pagetitle {
    color: #800080;
}

/*.toprow {
    background-color: #aaa;
}*/

.gameslist {
   /* background-color: #888; */
}

div.gameitem {
    position: relative;
    height: 150px;
    max-width: 168px;
    margin: 4px;
    background-color: #333333;
    border-radius: 10px;
}


.thumb-image {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-height: 150px;
    overflow:hidden;
}

.thumb-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 10px;

    background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.thumb-text {
    color: white;
    text-shadow: 1px 2px 3px rgba(10, 10, 20, 1);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gameitem:hover .thumb-overlay {
    opacity: 1.0;
}

.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Progress bar stuff */
.meter {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}